@charset "UTF-8";
/* Bass
----------------------------------------------------------------*/
* {
  list-style-type: none;
  margin: 0;
  vertical-align: bottom; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: nonee; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

.container {
  width: 936px;
  max-width: 93.7%;
  margin: auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.fbox {
  display: flex; }

.left {
  float: left; }

.right {
  float: right; }

.orange {
  color: #ff921b; }

html {
  font-size: 62.5%; }

body {
  color: #888888;
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.01em;
  background-color: #f4f6fe; }

h1 {
  margin: 0; }

h2 {
  font-size: 1.8rem;
  color: #ff921b;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.7), -3px 3px 4px rgba(255, 255, 255, 0.7), 3px -3px 4px rgba(255, 255, 255, 0.7), -3px -3px 4px rgba(255, 255, 255, 0.7), 0px 3px 4px rgba(255, 255, 255, 0.7), -3px 0px 4px rgba(255, 255, 255, 0.7), 0px -3px 4px rgba(255, 255, 255, 0.7), 3px 0px 4px rgba(255, 255, 255, 0.7); }
  @media (min-width: 440px) {
    h2 {
      font-size: 3.0rem; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 5.0rem; } }

h3 {
  font-size: 2.5rem;
  color: #ff921b;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.7), -3px 3px 4px rgba(255, 255, 255, 0.7), 3px -3px 4px rgba(255, 255, 255, 0.7), -3px -3px 4px rgba(255, 255, 255, 0.7), 0px 3px 4px rgba(255, 255, 255, 0.7), -3px 0px 4px rgba(255, 255, 255, 0.7), 0px -3px 4px rgba(255, 255, 255, 0.7), 3px 0px 4px rgba(255, 255, 255, 0.7); }
  @media (min-width: 440px) {
    h3 {
      font-size: 3.0rem; } }
  @media (min-width: 768px) {
    h3 {
      font-size: 5.0rem; } }

h4 {
  font-size: 2.2rem;
  color: #888888; }

.baseColor_container {
  background: #f4f6fe; }

.subColor_container {
  background: #239ac9;
  color: white; }

.sp_menu_subColor {
  padding: 0;
  text-align: center;
  font-weight: bold;
  background: #239ac9;
  color: white; }
  @media (min-width: 768px) {
    .sp_menu_subColor {
      display: none; } }
  .sp_menu_subColor div {
    height: 54px;
    line-height: 54px;
    font-size: 20px; }
  .sp_menu_subColor :link {
    color: white; }
  .sp_menu_subColor :visited {
    color: white; }
  .sp_menu_subColor :hover {
    color: white; }
  .sp_menu_subColor :active {
    color: white; }
  .sp_menu_subColor li {
    border: solid 1px white;
    border-left: none;
    border-right: none; }

.sp_menu_white {
  padding: 0;
  text-align: center;
  font-weight: bold;
  background: #f4f6fe;
  color: #239ac9; }
  @media (min-width: 768px) {
    .sp_menu_white {
      display: none; } }
  .sp_menu_white div {
    height: 54px;
    line-height: 54px;
    font-size: 20px; }
  .sp_menu_white :link {
    color: #239ac9; }
  .sp_menu_white :visited {
    color: #239ac9; }
  .sp_menu_white :hover {
    color: #239ac9; }
  .sp_menu_white :active {
    color: #239ac9; }
  .sp_menu_white li {
    border: solid 1px #239ac9;
    border-left: none;
    border-right: none; }

/* header
----------------------------------------------------------------*/
.header_bg {
  background: #239ac9;
  padding-top: 14px;
  padding-bottom: 5px; }
  .header_bg .header_container {
    align-items: flex-end; }
    .header_bg .header_container .logo_container {
      margin-right: auto; }
      .header_bg .header_container .logo_container .logo_img {
        padding-bottom: 7px; }
      @media (max-width: 767px) {
        .header_bg .header_container .logo_container .logo_pc {
          display: none; } }
      @media (min-width: 768px) {
        .header_bg .header_container .logo_container .logo_sp {
          display: none; } }
    @media (max-width: 767px) {
      .header_bg .header_container .menu_container #PC_menu {
        display: none; } }
    .header_bg .header_container .menu_container #PC_menu .PC_menu_li {
      padding: 0;
      margin: 0; }
      .header_bg .header_container .menu_container #PC_menu .PC_menu_li .PC_menu_item {
        float: left;
        margin-left: 18px;
        font-weight: bold;
        color: white; }
        .header_bg .header_container .menu_container #PC_menu .PC_menu_li .PC_menu_item :link {
          color: white; }
        .header_bg .header_container .menu_container #PC_menu .PC_menu_li .PC_menu_item :visited {
          color: white; }
        .header_bg .header_container .menu_container #PC_menu .PC_menu_li .PC_menu_item .pc_menu_text {
          margin: 0; }
    @media (min-width: 768px) {
      .header_bg .header_container .menu_container .SP_menu_li {
        display: none; } }

/* #SP_menu
----------------------------------------------------------------*/
@media (min-width: 768px) {
  #SP_menu {
    display: none; } }
#SP_menu .SP_sub_menu_li {
  display: none; }
  #SP_menu .SP_sub_menu_li .SP_sub_menu_item {
    text-align: center;
    font-weight: bold;
    color: white; }
    #SP_menu .SP_sub_menu_li .SP_sub_menu_item :link {
      color: white; }
    #SP_menu .SP_sub_menu_li .SP_sub_menu_item :visited {
      color: white; }

/* cover_area
----------------------------------------------------------------*/
#cover_area {
  height: 175px;
  text-align: center;
  padding: 0;
  background-image: url("../images/01-1_top/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    #cover_area {
      background-image: url("../images/01-1_top/cover@2x.jpg"); } }
  @media (min-width: 768px) {
    #cover_area {
      text-align: left;
      height: 481px;
      padding: 0; } }
  #cover_area .cover_text_left {
    margin-top: 30px;
    padding-top: 0; }
    @media (min-width: 768px) {
      #cover_area .cover_text_left {
        margin-top: 115px;
        padding-top: 0; } }
  #cover_area .cover_text_right {
    float: right; }
    @media (min-width: 768px) {
      #cover_area .cover_text_right {
        float: right;
        padding-bottom: 0; } }

/* main_container
----------------------------------------------------------------*/
#main_container {
  background: #f4f6fe;
  padding-bottom: 85px; }
  #main_container .subtitle {
    padding-top: 94px;
    padding-bottom: 80px;
    width: 100%; }
    @media (max-width: 567px) {
      #main_container .subtitle {
        display: none; } }
    @media (max-width: 767px) {
      #main_container .subtitle {
        padding-top: 42px;
        padding-bottom: 0; } }
  #main_container .sp_subtitle {
    padding-top: 42px;
    text-align: center; }
    @media (min-width: 568px) {
      #main_container .sp_subtitle {
        display: none; } }
    #main_container .sp_subtitle .sp_contents_title_img {
      width: 100%;
      max-width: 300px; }
  #main_container .contents_container {
    text-align: center;
    flex-direction: column; }
    @media (min-width: 768px) {
      #main_container .contents_container {
        justify-content: space-between;
        text-align: center;
        width: 92%;
        margin: auto;
        flex-direction: row; } }
    #main_container .contents_container .item_container {
      width: 100%;
      max-width: 400px;
      text-align: center;
      margin: auto;
      margin-top: 68px; }
      @media (max-width: 767px) {
        #main_container .contents_container .item_container {
          float: none; } }
      @media (min-width: 768px) {
        #main_container .contents_container .item_container {
          margin-top: 0;
          width: 26%; } }
      #main_container .contents_container .item_container .item_icon_container {
        display: inline-block;
        background-color: #239ac9;
        border-radius: 100%;
        margin-bottom: 50px; }
      #main_container .contents_container .item_container .item_text {
        margin-top: 15px;
        text-align: left; }

/* footer
----------------------------------------------------------------*/
footer {
  background: #101215;
  color: white;
  padding-bottom: 40px; }
  footer :link {
    color: white; }
  footer :visited {
    color: white; }
  footer :hover {
    color: white; }
  footer :active {
    color: white; }
  @media (min-width: 768px) {
    footer {
      padding-top: 30px;
      padding-bottom: 20px; } }
  footer .fotter_container {
    justify-content: space-between;
    align-items: flex-end; }
    @media (max-width: 767px) {
      footer .fotter_container .footer_text_container {
        display: none; } }
    footer .fotter_container .footer_text_container .footer_text_container_1 {
      padding-left: 0; }
    footer .fotter_container .footer_text_container .footer_text_container_2 {
      padding-left: 96px; }
    footer .fotter_container .footer_text {
      padding: 0 0 10px 20px;
      margin: 0;
      background-image: url("../images/01-1_top/arrow.png");
      background-size: 4px 8px;
      background-repeat: no-repeat;
      background-position: 8px 23%;
      display: block;
      font-size: 1.3rem; }
    footer .fotter_container .address {
      font-size: 1.3rem;
      padding-bottom: 10px;
      padding-top: 56px;
      width: 100%;
      text-align: center; }
      @media (min-width: 768px) {
        footer .fotter_container .address {
          text-align: left;
          padding-top: ０;
          width: auto; } }
      footer .fotter_container .address .tel {
        padding-bottom: 10px; }

/* plan.html
----------------------------------------------------------------*/
/* sub_page_cover_area
----------------------------------------------------------------*/
.plan_cover_area {
  height: 72px;
  line-height: 72px;
  text-align: center;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/02-2_plan_sp/cover_plan_sp.jpg"); }
  @media (min-width: 768px) {
    .plan_cover_area {
      text-align: left;
      height: 165px;
      line-height: 165px;
      padding: 0; } }
  @media (min-width: 768px) {
    .plan_cover_area {
      background-image: url("../images/01-2_plan/cover_plan.jpg"); } }
  @media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .plan_cover_area {
      background-image: url("../images/01-2_plan/cover_plan@2x.jpg"); } }

.sub_page_cover_text {
  padding-top: 0;
  line-height: 72px; }
  @media (min-width: 768px) {
    .sub_page_cover_text {
      padding-top: 0;
      line-height: 165px; } }

/* plan_first_container
----------------------------------------------------------------*/
.plan_first_container {
  padding: 33px 0 33px 0;
  margin: auto; }
  @media (min-width: 768px) {
    .plan_first_container {
      padding: 48px 0 48px 0; } }

.plan_first_text {
  font-size: 2.0rem;
  font-weight: bold;
  width: 260px;
  margin: auto; }
  @media (min-width: 768px) {
    .plan_first_text {
      padding-top: 0;
      font-size: 2.5rem;
      width: 354px;
      margin: auto; } }
  .plan_first_text .mid_text {
    font-size: 1.6rem; }
    @media (min-width: 768px) {
      .plan_first_text .mid_text {
        font-size: 2.0rem; } }
  .plan_first_text .little_text {
    font-size: 1.4rem; }
    @media (min-width: 768px) {
      .plan_first_text .little_text {
        font-size: 1.6rem; } }

/* picture_container
----------------------------------------------------------------*/
.picture_container {
  padding: 34px 0 44px 0; }
  @media (min-width: 768px) {
    .picture_container {
      padding: 46px 0 70px 0; } }

.picture_sub_title {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 28px; }
  @media (min-width: 768px) {
    .picture_sub_title {
      font-size: 3.5rem; } }
  @media (min-width: 768px) {
    .picture_sub_title {
      padding-bottom: 68px; } }

.reverce_picture_fbox {
  justify-content: space-between;
  flex-direction: column-reverse; }
  @media (min-width: 768px) {
    .reverce_picture_fbox {
      flex-direction: row; } }
  .reverce_picture_fbox .picture_fbox_text {
    padding-top: 38px;
    width: 100%;
    line-height: 2rem; }
    @media (min-width: 768px) {
      .reverce_picture_fbox .picture_fbox_text {
        width: 47.3%;
        padding-top: 0; } }
  .reverce_picture_fbox .picture_fbox_img {
    text-align: center; }
    @media (min-width: 768px) {
      .reverce_picture_fbox .picture_fbox_img {
        width: 47.3%;
        margin: 0; } }
    .reverce_picture_fbox .picture_fbox_img .picture_fbox_img_pc {
      max-width: 100%; }
      @media (max-width: 767px) {
        .reverce_picture_fbox .picture_fbox_img .picture_fbox_img_pc {
          display: none; } }
    .reverce_picture_fbox .picture_fbox_img .picture_fbox_img_sp {
      max-width: 500px;
      width: 100%; }
      @media (min-width: 768px) {
        .reverce_picture_fbox .picture_fbox_img .picture_fbox_img_sp {
          display: none; } }

.normal_picture_fbox {
  justify-content: space-between;
  flex-direction: column; }
  @media (min-width: 768px) {
    .normal_picture_fbox {
      flex-direction: row; } }
  .normal_picture_fbox .picture_fbox_text {
    padding-top: 38px;
    width: 100%;
    line-height: 2rem; }
    @media (min-width: 768px) {
      .normal_picture_fbox .picture_fbox_text {
        width: 47.3%;
        padding-top: 0; } }
  .normal_picture_fbox .picture_fbox_img {
    text-align: center; }
    @media (min-width: 768px) {
      .normal_picture_fbox .picture_fbox_img {
        width: 47.3%;
        margin: 0; } }
    .normal_picture_fbox .picture_fbox_img .picture_fbox_img_pc {
      max-width: 100%; }
      @media (max-width: 767px) {
        .normal_picture_fbox .picture_fbox_img .picture_fbox_img_pc {
          display: none; } }
    .normal_picture_fbox .picture_fbox_img .picture_fbox_img_sp {
      max-width: 500px;
      width: 100%; }
      @media (min-width: 768px) {
        .normal_picture_fbox .picture_fbox_img .picture_fbox_img_sp {
          display: none; } }

/* plan_third_container
----------------------------------------------------------------*/
.plan_third_container {
  padding-bottom: 10px; }
  .plan_third_container .plan_third_sub_title {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    color: #239ac9;
    padding: 53px 0 46px 0; }
    @media (min-width: 768px) {
      .plan_third_container .plan_third_sub_title {
        font-size: 3.5rem; } }
    @media (min-width: 768px) {
      .plan_third_container .plan_third_sub_title {
        padding: 46px 0 70px 0; } }
  .plan_third_container .plan_icon_set {
    width: 330px;
    margin: auto;
    flex-direction: column; }
    @media (min-width: 768px) {
      .plan_third_container .plan_icon_set {
        flex-direction: row;
        width: 100%; } }
    .plan_third_container .plan_icon_set .plan_icon_box {
      align-items: center;
      width: 100%;
      padding-bottom: 42px; }
      @media (min-width: 768px) {
        .plan_third_container .plan_icon_set .plan_icon_box {
          box-sizing: border-box;
          width: 50%;
          padding-left: 10%;
          padding-bottom: 62px; } }
      .plan_third_container .plan_icon_set .plan_icon_box .plan_icon {
        display: inline-block;
        background-color: #ff921b;
        border-radius: 100%; }
        @media (max-width: 767px) {
          .plan_third_container .plan_icon_set .plan_icon_box .plan_icon .plan_icon_img_pc {
            display: none; } }
        @media (min-width: 768px) {
          .plan_third_container .plan_icon_set .plan_icon_box .plan_icon .plan_icon_img_sp {
            display: none; } }
      .plan_third_container .plan_icon_set .plan_icon_box .plan_icon_text {
        padding-left: 20px; }

/* service.html
----------------------------------------------------------------*/
/* service_cover_area
----------------------------------------------------------------*/
.service_cover_area {
  height: 72px;
  line-height: 72px;
  text-align: center;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/02-3_service_sp/cover_service_sp.jpg"); }
  @media (min-width: 768px) {
    .service_cover_area {
      text-align: left;
      height: 165px;
      line-height: 165px;
      padding: 0; } }
  @media (min-width: 768px) {
    .service_cover_area {
      background-image: url("../images/01-3_service/cover_service.jpg"); } }
  @media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .service_cover_area {
      background-image: url("../images/01-3_service/cover_service@2x.jpg"); } }

.baseColor_container .picture_sub_title {
  color: #239ac9; }

/*# sourceMappingURL=style.css.map */
