@import "compass";

// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #f4f6fe;
$subColor: #239ac9;
$keyColor: #ff921b;
$fontColor: #888888;
$fotterColor: #101215;

// 

@mixin back_next_navi {
        box-sizing: border-box;
        background: $subColor;
        color: $baseColor;
        text-transform: uppercase;
        width: 120px;
        height: 40px;
        font-weight: bold;
        padding-top: 10px;
        margin-top: 0;
    }
    
@mixin icon($background-color:$keyColor) {
        display: inline-block;
        background-color: $background-color;
        border-radius: 100%;
    }
    
@mixin font_white {
        color: white;
        :link { color:white;}
        :visited { color:white;}
        :hover { color:white;}
        :active { color:white;}
    }
    
@mixin font_subColor {
        color: $subColor;
        :link { color:$subColor;}
        :visited { color:$subColor;}
        :hover { color:$subColor;}
        :active { color:$subColor;}
    }

/* Bass
----------------------------------------------------------------*/


* {
    list-style-type: none;
    margin:0;
    vertical-align: bottom;
    // ↑ 画像をhタグ等で囲った時に無駄な余白を作らなくする。
}

a:link { text-decoration:none }
a:visited { text-decoration:nonee }
a:hover { text-decoration:none }
a:active { text-decoration:none }



.container {
    width: 936px;
    max-width: 93.7%;
    margin: auto;
}


.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.fbox {
    display: flex;
}

.left {
    float: left;
}

.right {
    float: right;
}



html{ font-size: 62.5%; }

body{
    color: $fontColor;
    font-size: 1.6rem;
    font-family: $baseFontFamily;
    line-height: 1.6;
    letter-spacing: 0.01em;
    background-color: $baseColor;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1.8rem;
    color: $keyColor;
    text-shadow: 3px 3px 4px rgba(255,255,255,0.7),
             -3px 3px 4px rgba(255,255,255,0.7),
             3px -3px 4px rgba(255,255,255,0.7),
             -3px -3px 4px rgba(255,255,255,0.7),
             0px 3px 4px rgba(255,255,255,0.7),
             -3px 0px 4px rgba(255,255,255,0.7),
             0px -3px 4px rgba(255,255,255,0.7),
             3px 0px 4px rgba(255,255,255,0.7);
     
           
    @media (min-width: 440px) {
        font-size: 3.0rem;
    }
             
    @media (min-width: 768px) {
        font-size: 5.0rem;
    }
}

h3{
    font-size: 2.2rem;
    color: $keyColor;
    text-shadow: 3px 3px 4px rgba(255,255,255,0.7),
             -3px 3px 4px rgba(255,255,255,0.7),
             3px -3px 4px rgba(255,255,255,0.7),
             -3px -3px 4px rgba(255,255,255,0.7),
             0px 3px 4px rgba(255,255,255,0.7),
             -3px 0px 4px rgba(255,255,255,0.7),
             0px -3px 4px rgba(255,255,255,0.7),
             3px 0px 4px rgba(255,255,255,0.7);
}

h4{
    font-size: 2.2rem;
    color: $fontColor;
}


.sp_menu_subColor{
        
    padding:0;
    text-align: center;
    background: $subColor;
    @include font_white;
    font-weight: bold;
    
    @media (min-width: 768px) {
        display: none;
    }
    
    li{
        border: solid 1px white;
        border-left: none;
        border-right: none;
    
        div{
            height: 54px;
            line-height: 54px;
            font-size: 20px;
        }
    }
}

.sp_menu_white{
        
    padding:0;
    text-align: center;
    background: $baseColor;
    @include font_subColor;
    font-weight: bold;
    
    @media (min-width: 768px) {
        display: none;
    }
    
    li{
        border: solid 1px $subColor;
        border-left: none;
        border-right: none;
    
        div{
            height: 54px;
            line-height: 54px;
            font-size: 20px;
        }
    }
}




/* header
----------------------------------------------------------------*/

.header_bg {
    background: $subColor;
    padding-top: 14px;
    padding-bottom: 5px;
    
    .header_container{
        align-items: flex-end;
        
        .logo_container{
              margin-right: auto;
        
            .logo_img {
                padding-bottom: 7px;
            }
            
            .logo_pc{
                @media (max-width: 767px) {
                        display: none;
                    }
            }
            
            .logo_sp{
                @media (min-width: 768px) {
                        display: none;
                    }
            }
        }
    
        .menu_container{
            
            #PC_menu{
                @media (max-width: 767px) {
                    display: none;
                }
                
                .PC_menu_li{
                    padding: 0;
                    margin: 0;
                
                    .PC_menu_item{
                        float: left;
                        margin-left: 18px;
                        font-weight: bold;
                        color: white;
                        
                        :link{
                            color: white;
                        }
                        :visited{
                            color: white;
                        }
                        
                        
                        .pc_menu_text{
                            margin: 0;
                        }
                    }
                }
            } // #PC_menu
            
            .SP_menu_li{
                @media (min-width: 768px) {
                    display: none;
                }
            }
        } // .menu_container
    } // .header_container
    
}  //.header_bg



/* #SP_menu
----------------------------------------------------------------*/

#SP_menu{
            @media (min-width: 768px) {
                display: none;
            }
            
            .SP_sub_menu_li{
                display: none;
            
            
                .SP_sub_menu_item{
                    text-align: center;
                    font-weight: bold;
                    color: white;
                    
                    
                    :link{
                        color: white;
                    }
                    :visited{
                        color: white;
                    }
                }
            } // .SP_sub_menu_li
        }



/* cover_area
----------------------------------------------------------------*/

#cover_area {
    height: 175px;
    text-align: center;
    padding: 0;

    background-image: url("../images/01-1_top/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
     //retina_bg
    @media screen and (-webkit-min-device-pixel-ratio:2),
                      (min-resolution: 2dppx){
        background-image: url("../images/01-1_top/cover@2x.jpg");
    }
    
    //PC表示
    @media (min-width:768px) {
        
        text-align: left;
        height: 481px;
        padding: 0;
    }
    
    .cover_text_left{
        margin-top: 30px;
        padding-top: 0;
        
        @media (min-width:768px) {
            margin-top: 115px;
            padding-top: 0;
            
        }
        
    }
    
    .cover_text_right {
        float: right;
        // float: left;
        // padding-bottom: 80px;
        // padding-left: 56px;
        
        
        @media (min-width:768px) {
            float: right;
            padding-bottom: 0;
        }
    }

}  // .cover_area



/* main_container
----------------------------------------------------------------*/


#main_container{
    
    background: $baseColor;
    padding-bottom: 85px;
    
    .subtitle {
        padding-top: 94px;
        padding-bottom: 80px;
        width:100%;
        
        @media (max-width: 567px) {
                        display: none;
        }
        
        @media (max-width: 767px) {
                padding-top: 42px;
                padding-bottom: 0;
            }
        
    } //.subtitle
    
    .sp_subtitle{
        
        padding-top: 42px;
        text-align: center;
        
     
        @media (min-width: 568px) {
                display: none;
        }
        
        .sp_contents_title_img{
            width:100%;
            max-width: 300px;
        }
        
    }
    

    
    .contents_container{
        text-align: center;
        flex-direction:         column;
        
        
        @media (min-width: 768px) {
            justify-content: space-between;
            text-align: center;
            width: 92%;
            margin: auto;
            flex-direction: row;
        }
        
    
        .item_container {
            width: 100%;
            max-width: 400px;
            text-align: center;
            margin: auto;
            margin-top: 68px;
            
            @media (max-width: 767px) {
                float: none;
            }
            
            
            @media (min-width: 768px) {
                margin-top: 0;
                width: 26%;
            }
            
            
            .item_icon_container{
                @include icon($subColor);
                margin-bottom: 50px;
                
            }
            
            .item_text{
                margin-top: 15px;
                text-align: left;
            }
        }
    } //.contents_container
    
} //#main_container


/* footer
----------------------------------------------------------------*/

footer {   
    background: $fotterColor;
    @include font_white;
    padding-bottom: 40px;
    
    @media (min-width: 768px) {
            padding-top: 30px;
            padding-bottom: 20px;
            }
    
    .fotter_container{
        justify-content: space-between;
        align-items: flex-end;
        
        .footer_text_container{
            @media (max-width: 767px) {
                display: none;
            }
            
        .footer_text_container_2{
            padding-left: 96px;
            }
        } // .footer_text_container
        
        
        .footer_text{
            padding: 0 0 10px 20px;
            margin: 0;
            background-image: url("../images/01-1_top/arrow.png");
            background-size: 4px 8px;
            background-repeat: no-repeat;
            background-position: 8px 23%; 
            display: block;
            font-size: 1.3rem;
        }   
        
        .address{
            font-size: 1.3rem;
            padding-bottom: 10px;
            padding-top: 56px;
            width: 100%;
            text-align: center;
            
            
            @media (min-width: 768px) {
                text-align: left;
                padding-top: ０;
                width: auto;
            }
            
            .tel{
                padding-bottom: 10px;
            }
        } // .address
    } // .fotter_container
}



